* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

.container {
  width: 80%;
  max-width: 1320px;
  margin: 0 auto;
}

/* header styles */
.banner {
  background-image: url('../resources/Banner\ Image.png');
  background-size: cover;
  width: 100%;
  margin-top: 50px;
  height: 100%;
  border-radius: 16px;
  background-position: center;
  position: relative;
}

.banner h3 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.banner h1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
.banner-text {
  padding: 50px 300px 150px 300px;
}

/* discount section styles */

.discount {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.discount h1 {
  color: #f00;
  font-family: 'Inter', sans-serif;
  font-size: 88px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}
.discount h4 {
  color: #f00;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.discount h2 {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

/* party section styles */
.party-section {
  background-image: url(../resources/Vectorrr.png);
  background-size: cover;
  width: 100%;
  margin-top: 100px;
  height: 100%;
  border-radius: 16px;
  background-position: center;
  position: relative;
  display: flex;
  margin-bottom: 100px;
}

.party-section h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding: 100px  100px 10px 100px;
}
.party-section p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0  100px 10px 100px;
}
.party-section button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: black;
  margin: 10px 0px 20px 120px;
  cursor: pointer;
}


